<div class="modal-dialog  {% if crudObj.config.get('dialog_class') %} {{ crudObj.config.get('dialog_class') }} {% endif %}" {{ crudObj.config.get('dialog_width') ? ('style="width: '~crudObj.config.get('dialog_width')~'px;"')|raw }}>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Данные {{ crudObj.config.get('ent_name_r') }}</h4>
        </div>

        <div class="modal-body" data-crud_role="form_container" data-crud_model="{{ crudObj.config.get('class_name') }}" data-crud_id="{{ id }}">
            <form action="{{ route('crud_update',{'model':crudObj.config.get('class_name'),'id':id}) }}" method="post" enctype="multipart/form-data" role="form">
                <input type="hidden" id="tree_action" name="tree_action" value=""/>
                <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                <fieldset style="padding-bottom: 20px;">
                    {% for input in  crudObj.getForm().fields %}
                        {% if input.config.type=='checkbox' %}
                            {% include 'crud::crud/fields/line_wrap_compact.twig' %}
                        {% else %}
                            {% include 'crud::crud/fields/line_wrap.twig' %}
                        {% endif %}
                    {% endfor %}
                </fieldset>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Отмена</button>
                    {% if crudObj.config.get('acl')|allowed('u') %}
                    <button class="btn btn-success crud_submit" type="button" data-close="1">Сохранить и закрыть</button>
                    <button class="btn btn-primary crud_submit" type="button" data-close="0">Сохранить</button>
                    {% endif %}
                    <input type="submit" name="submit" style="display: none" />
                    {% include 'crud::blocks/progress_bar.twig' %}
                </div>

            </form>
        </div>
    </div>
    <script>
        {% if crudObj.getAttachOptions() %}
        var crudAttachOptions = {{ crudObj.getAttachOptions()|json_encode|raw }};
        {% endif %}
    </script>
</div>
