{% extends "crud::page.twig" %}

{% block head %}
    <link href="{{ cmsHelper.asset(PACKAGE,'css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}

    {% include 'crud::crud/list_filter.twig' %}


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">

                <div class="pull-right"><a href="#" title="Обновить список" data-click="crud_action" data-action="refresh_table"><i class="fa fa-refresh"></i></a></div>
                <table class="table table-striped table-bordered table-hover crud_table"
                       data-crud_model="{{ crudObj.config.get('class_name') }}">
                    <thead>
                    </thead>
                    <tfoot>
                    </tfoot>


                </table>
                {% if not crudObj.config.get('no_mass_delete') %}
                <a href="#" class="btn btn-danger crud_delete" disabled>Удалить выбранные</a>
                {% endif %}
            </div>
        </div>
    </div>



{% endblock %}

{% block modals %}
{% endblock %}

{% block bc %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ crudObj.config.getList('title') }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/admin">В начало</a>
                </li>
                {% for bc in crudObj.config.get('bc')%}
                    <li>
                        <a href="{{ bc.href }}">{{ bc.title }}</a>
                    </li>
                {% endfor %}
                <li class="active">
                    <strong>{{ crudObj.config.getList('title') }}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2" style="margin-top:20px;">
            <a  class="btn btn-primary pull-right"  onclick="CRUD.init_modal(0); return false;" >Добавить {{ crudObj.config.get('ent_name_v') }}</a>
        </div>
    </div>

{% endblock %}

