{% extends "crud::page.twig" %}

{% block head %}
    <link rel="stylesheet" href="{{ cmsHelper.asset(PACKAGE,'css/plugins/treegrid/jquery.treegrid.css') }}">
    <link rel="stylesheet" href="{{ cmsHelper.asset(PACKAGE,'css/plugins/sortable/sortable.css') }}">
{% endblock %}
{% block content %}

    {% include 'crud::crud/list_filter.twig' %}


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">

                <table class="table table-striped table-bordered table-hover table-condensed crud_tree"
                       data-crud_model="{{ crudObj.config.get('class_name') }}">
                    {% include 'crud::crud/tree_line.twig' %}
                </table>

                <a href="#" class="btn btn-danger crud_delete" disabled>Удалить выбранные</a>
            </div>
        </div>
    </div>



{% endblock %}

{% block modals %}

    <div id="tree_move" class="modal fade" aria-hidden="true">
        <div class="modal-dialog middle middle">
            <div class="modal-content">
                <div class="modal-body" >

                    <b>Вы передвигаете страницу "<span class="tree_move_current"></span>"
                    под страницу "<span class="tree_move_upper"></span>"<br /><br /></b>
                    Вы можете:<br /><br />
                    <a class="btn btn-primary"  data-action="move_tree" data-command="makeFirstChild"> Сделать страницу "<span class="tree_move_current"></span>" дочерней страницей  "<span class="tree_move_upper"></span>"</a><br /><br />
                    <a class="btn btn-success" data-action="move_tree" data-command="makeNextSibling"> Поместить страницу "<span class="tree_move_current"></span>"  в один уровень со страницей  "<span class="tree_move_upper"></span>"</a>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default"  data-dismiss="modal">Отмена</button>
                    </div>


                </div>
            </div>
        </div>



        Сделать
    </div>
{% endblock %}

{% block bc %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ crudObj.config.getList('title') }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/admin">В начало</a>
                </li>
                {% for bc in crudObj.config.get('bc')%}
                    <li>
                        <a href="{{ bc.href }}">{{ bc.title }}</a>
                    </li>
                {% endfor %}
                <li class="active">
                    <strong>{{ crudObj.config.getList('title') }}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2" style="margin-top:20px;">
            <a  class="btn btn-primary pull-right"
               href="#" onclick="CRUD.init_modal(0); return false;">Добавить {{ crudObj.config.get('ent_name_v') }}</a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        var crud_object_conf = {{  crudObj.config|json_encode()|raw }};
    </script>

    <script type="text/javascript" src="{{ cmsHelper.asset(PACKAGE,'js/plugins/treegrid/jquery.treegrid.js') }}"></script>
    <script type="text/javascript" src="{{ cmsHelper.asset(PACKAGE,'js/plugins/treegrid/jquery.treegrid.bootstrap3.js') }}"></script>
    <script type="text/javascript" src="{{ cmsHelper.asset(PACKAGE,'js/plugins/sortable/jquery.sortable.js') }}"></script>
    <script src="{{ cmsHelper.asset(PACKAGE,'js/modules/crud.js') }}"></script>
    <script src="{{ cmsHelper.asset(PACKAGE,'js/modules/crud_common.js') }}"></script>
    <script src="{{ cmsHelper.asset(PACKAGE,'js/modules/crud_tree.js') }}"></script>
    <script src="{{ cmsHelper.asset(PACKAGE,'js/modules/crud_form.js') }}"></script>

    <script src="{{ cmsHelper.asset(PACKAGE,'js/plugins/ajaxform/jquery.form.js') }}"></script>
    <!-- Page-Level Scripts -->


{% endblock %}

