<div id="tooltip_edit" class="modal fade" aria-hidden="true" style="z-index: 9999;">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Редактировать подсказку</h4>
            </div>

            <div class="modal-body">
                <form id="tooltip_edit_form" action="/util/tooltip/update" method="post"  class="ajax_form" role="form">

                    <input type="hidden" name="_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="tt_index" />


                    <div class="row">
                        <div class="col-md-12">
                            <textarea name="tt_text" required class="form-control" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="row"><div class="hr-line-dashed"></div></div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default"  data-close="1" data-dismiss="modal">Отмена</button>
                        <button class="btn btn-primary" type="submit">Сохранить</button>

                        {% include 'crud::blocks/progress_bar.twig' %}

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>