{% if input.config.readonly %}
<div class="input-group">{{ input.getValue()|date(input.config.format) }}</div>
{% else %}
<div class="input-group date"  data-date-format="{{ input.config.jsformat }}">
   <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" {{ input.config.required ? 'required' }}  name="{{ input.name }}" value="{{ input.getValue()|date(input.config.format) }}">
</div>
{% endif %}
