<input class="form-control" placeholder="{{ input.config.placeholder }}" {{ input.config.required ? 'required' }} {{ input.config.readonly ? 'readonly="readonly"' }} name="{{ input.name }}" type="text" value="{{ input.getValue() }}">
